body {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 25, 44);
    font-family: "Nunito Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    color: #f4e1ff;
    text-align: center;
    padding: 60px 80px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(180, 120, 255, 0.3);
}

.card img {
    width: 350px;
    height: 190px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #e5b3fe;
}

button {
    background-color: #b666d2;
    color: white;
    border: none;
    padding: 14px 36px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
    background-color: #c88aff;
    transform: translateY(-2px);
}
