body {
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bG9naW4uaHRtbA {
  color: red;
  font-size: 50px;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
  
}

.hint{
  color: white;
  font-size: 20px;
}

.loading-dots::after {
  content: "";
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%   { content: ""; }
  25%  { content: "."; }
  50%  { content: ".."; }
  75%  { content: "..."; }
  100% { content: ""; }
}