body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

.box{
    background-color: white;
    height: 60vh;
    width: 40vh;
    padding: 20px;
    border-radius: 20px;
}

.boxheader{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginform img{
    height: 20vh;
    border-radius: 100%;
    margin-bottom: 2vh;
}

.loginform input {
  display: flex;
  width: 30vh;
  padding: 12px;
  margin: 7px 0;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s;

  font-size: 18px;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
}

.loginform form{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.loginform button{
    width: 13vh; 
    padding: 8px 8px;
    margin-top: 14px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

.loginform button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    opacity: 0.9;
}

.loginform a{
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 14px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

.register{
  text-align: center;
  margin-top: 2vh;
  text-decoration: none;
}

.register a{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    color: black;
    text-decoration: none;
}

.register a:hover{
    text-decoration: underline;
}