body{
    background-color: rgb(26, 25, 44);
    color: #e6e6f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerbox{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    
}

.box{
    background-color:rgba(255, 255, 255, 0.05);
    height: 70vh;
    width: 45vh;
    border-radius: 40px;
    padding: 10px;
}

.boxheader{
    font-size: 30px;
    text-align: center;
}

.boxheader p{
    color: #b5aaff;
}

.registerform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerform img{
    height: 22vh;
    border-radius: 100%;
    margin-bottom: 1vh;   
    border: 2px solid #7b6cff;
}

.registerform input{
    width: 35vh;
    padding: 12px;
    margin: 7px 0;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #7b6cff;
    color: #e6e6f0;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 18px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

.registerform input::placeholder{
    color: #b5aaff;
}

.registerform input:focus {
    border-color: #9a8cff;
    box-shadow: 0 0 8px rgba(155, 140, 255, 0.4);
}

.registerform form{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.registerform button{
    width: 20vh;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background-color: #7b6cff;
    color: white;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

.registerform button:hover{
    background-color: #9a8cff;
    box-shadow: 0 0 10px rgba(155, 140, 255, 0.4);
}

.login{
    text-align: center;
    margin-top: 2vh;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
}

.login a{
    color: #b5aaff;
    text-decoration: none;


}

.login:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

.login a:hover{
    color: #d4d0ff;
}

